.profile-button{

    width:42px;
    height:42px;

    border:none;

    border-radius:50%;

    background:var(--primary);

    color:white;

    cursor:pointer;

    font-size:20px;

    transition:.2s;

}

.profile-button:hover{

    transform:scale(1.05);

}